.add{
    width: 70%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}

.add form {
    display: flex;
}
.flex-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.add-img-upload img{
    width: 120px;
}
.add-prouct-name ,.add-product-desc{
    width: max(40%,280px);
}
.add-prouct-name input ,.add-product-desc textarea{
    padding: 10px;
}
.add-catergory-price{
    display: flex;
    gap: 30px;
}
.add-catergory-price select, .add-catergory-price input{
    max-width: 120px;
    padding: 10px;
}
.add-btn{
    max-width: 120px;
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}